@using Shared.Models
@model IEnumerable<ConferenceModel>

<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Start of event</th>
                <th>Attendees</th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <th>
                    @item.Name
                </th>
                <th>
                    @item.Location
                </th>
                <th>
                    @item.Start
                </th>
                <th>
                    @item.AttendeeTotal
                </th>
                <th>
                    @item.AttendeeTotal
                </th>
            </tr>
            }
            @*@Html.DisplayForModel()*@
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @await Component.InvokeAsync("Statistics")
    </div>
    <div class="col-md-4">
        <a asp-action="Add">Add</a>
    </div>

</div>

